* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

.background_img {
    background: url(./Assets/Images/image_summer.svg);
    background-size: cover;
    background-position: 680px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 157vh;
}

.background_img_small {
    background: url(./Assets/Images/image_summer.svg);
    background-size: cover;
    background-position: -281px;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    height: 100vh;
}

