.logo_position {
    display: flex;
    align-items: center;
}

.logo_small {
    /* margin-top: 10px; */
    margin-left: 10px;
}

.logo {
    /* margin-top: 50px; */
    margin-left: 50px;
    
}

.pineapple {
    margin-left: 10px;
    
}

