.logo_position_large {
    display: flex;
    align-items: flex-end;
}

.logo_small {
    margin: 10px 0 16px 20px;
}

.logo {
    margin-left: 100px;
    padding-bottom: 10px;
}

.pineapple {
    margin-left: 15px;
    padding-bottom: 15px;
}

