.header {
    display: flex;
    justify-content: space-between;
}

.header_large {
    padding-top: 100px;
    width: 680px;
    position: fixed;
}

.header_small {
    background-color: #FFFFFF;
}

.link_position_large {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

.link_position_small {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.nav_link_large {
    text-decoration: none;
    padding-left: 30px;
    color: #6A707B;
}

.nav_link_small {
    text-decoration: none;
    padding-left: 15px;
    color: #6A707B;
}

.font_size_large {
    font-size: 16px;
}

.font_size_small {
    font-size: 14px;
}