.subscribe_large {
    width: 680px;
    height: 100vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.subscribe_small {
    width: 400px;
    height: 60vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}