.wrapper {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #E3E3E4;
    border-left: 4px solid #4066A5;
}

.wrapper_large {
    height: 70px;
    width: 663px;
    margin: 50px 0 0 100px;
}

.wrapper_small {
    height: 60px;
    margin: 20px;
}

.input_style:focus {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    outline: none;
}

.input_style:focus + .submit_style {
    color: #4066A5;
}

.wrapper:hover {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border: 1px solid #4066A5;
    border-left: 4px solid #4066A5;
}

.input_style_large {
    padding-left: 40px;
    height: 68px;
    width: 520px;
    border: none;
    font-size: 16px;
    outline: none;
}

.input_style_small {
    padding-left: 15px;
    height: 58px;
    width: 279px;
    border: none;
    font-size: 16px;
    outline: none;
}

.submit_style {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    color: rgba(19, 24, 33, 0.3);
    font-size: 20px;
}

.submit_position_large {
    margin-left: 75px;
}

.submit_position_small {
    margin-left: -25px;
}